@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .container {
        @apply mx-auto
    }

    .element-center {
        @apply grid justify-items-center
    }

    .btn {
        @apply bg-blue-500  hover:bg-cyan-500 transition-all ease-in-out duration-300 rounded-[20px]
    }
}

body {
    background-color: #181e2a;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 50px;
}